@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  background-color: #FFFFFF;

}

/*  Хедер */

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

/* Основная часть */

.section-hero {
  background-image: url("../images/index-background.jpg") ;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align:center;
}

/* Раздел приемуществ */

.main-benefits-sity-intro {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: Center;
}

.main-benefits-intro {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: Center;
}

.advantages-item-basic-1, .advantages-item-basic-5 {
  background-color: #82B3D3;
}

.advantages-item-basic-1 .advantages-title,
.advantages-item-basic-5 .advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: Center;
}

.advantages-item-basic-1 .advantages-description,
.advantages-item-basic-5 .advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: Center;
}

.advantages-item-basic-2, .advantages-item-basic-4 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-basic-3 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  text-transform: uppercase;
  color: #000000;
  text-align: Center;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: Center;
}

.services-intro {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: Center;
}

.services-intro-promo {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: Center;
}
/* Раздел сервис */

.services-item-home, .services-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  text-transform: uppercase;
  color: #000000;
  text-align: Center;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: Center;
}

/* Раздел поиск гостиницы */

.search-hotel-question {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: Center;
}

.search-hotel-ordering {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: Center;
}

.search-hotel-link {
  text-align: Center;
}

.search-hotel-link-on {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: Center;
  background-color: #756157;
}

/* Раздел рассылка */

.newsletter-index {
  color: #FFFFFF;
  background-image: url("../images/index-background-bottom.jpg");
  background-repeat: repeat;
  background-size: cover;
  text-align: Center;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: Center;
}

.newsletter-subscribtion {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: Center;
}

.newsletter-button {
  background-color: #82B3D3;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: Center;
  color:#FFFFFF;
}

/* Футер */

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-style: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: Center;
  color: #000000;
}
